:root {
  // Typography
  --font-sans: 'Lexend Deca', 'Segoe UI Variable', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'ui-sans-serif',
    sans-serif;
  --font-mono: 'Cascadia Code', 'Fira Code', SFMono-Regular, Menlo, Monaco, Consolas, 'Courier New', ui-monospace,
    monospace;

  --font-weight-normal: 400;
  --font-weight-semi: 500;
  --font-weight-bold: 700;

  // Transitions
  --duration-fast: 0.15s;
  --duration-default: 0.3s;

  --ease-in: cubic-bezier(0.7, 0, 0.84, 0);
  --ease-in-out: cubic-bezier(0.65, 0, 0.35, 1);
  --ease-out: cubic-bezier(0.16, 1, 0.3, 1);

  // Shadows
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  // Border radiuses
  --radii-sm: 6px;
  --radii-md: 8px;
  --radii-lg: 10px;
}

// Colors
:root {
  --color-page-background: #f9f9f9;

  // Text
  --color-text-default: #121212;

  --color-text-header-default: #626262;
  --color-text-header-secondary: #323232;
  --color-text-header-tertiary: #121212;

  // Accent
  --color-accent-default: #006adc;

  --color-success-default: #05c793;

  --color-warning-default: #ffc847;

  --color-critical-default: #ef233c;

  // Category
  --color-category-item-background: #e6f2ff;

  // Content
  --color-blockquote-border: #e5e4e9;
  --color-inline-code-background: #ecebf0;

  --color-info-bar-info-background: #e6f2ff;
  --color-info-bar-success-background: #d7fef4;
  --color-info-bar-warning-background: #fff3d6;
  --color-info-bar-error-background: #fde7ea;
}

:root.dark {
  --color-page-background: #212121;

  // Text
  --color-text-default: #e8e8e8;

  --color-text-header-default: #626262;
  --color-text-header-secondary: #323232;
  --color-text-header-tertiary: #121212;

  // Accent
  --color-accent-default: #d1e6fa;

  --color-success-default: #74fbd7;

  --color-warning-default: #ffe7ad;

  --color-critical-default: #f68895;

  // Category
  --color-category-item-background: #1e2731;

  // Content
  --color-blockquote-border: #363636;
  --color-inline-code-background: #282828;

  --color-info-bar-info-background: #202428;
  --color-info-bar-success-background: #202625;
  --color-info-bar-warning-background: #282622;
  --color-info-bar-error-background: #272122;
}
