@use 'abstracts/variables';
@use 'base/reset';
@use 'base/typography';

body {
  color: var(--color-text-default);
  background-color: var(--color-page-background);
  transition: background-color;
  transition-duration: var(--duration-default);
  transition-timing-function: var(--ease-in-out);
}

.page-sizing {
  max-width: 73rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
