@use 'reset' as *;
@use 'tokens' as *;
@use 'color' as *;
@use 'classes' as *;

body {
  color: var(--color-text-default);
  background-color: var(--color-page-background);
  font-family: $font-sans;
  font-weight: $font-weight-normal;
  transition: background-color $duration-default $ease-in-out;
}
