@use 'reset' as *;
@use 'tokens' as *;
@use 'colors' as *;

@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/LexendDecaVariableFont.woff2') format('woff2');
}

::selection {
  color: var(--color-text-inverse);
  background-color: var(--color-text-select-background);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-default);
  background-color: var(--color-page-background);
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
  transition: background-color var(--duration-default) var(--ease-in-out);
}

.content-spacing {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.content-sizing {
  max-width: 73rem;
}
