---
import BaseLayout from '@/layouts/base-layout.astro'
import Header from '@/components/header/header.astro'
---

<BaseLayout>
  <div class='spacer-top'></div>
  <Header />
  <div class='spacer-bottom'></div>
  <div class='content-spacing content-sizing'>
    <div class='greeting-container'>
      <p class='hello'>Hello, I am</p>
      <p class='name'>Pinanek23</p>
    </div>
  </div>
</BaseLayout>

<style lang='scss'>
  @use 'src/styles/mixins' as *;

  .spacer-top {
    height: 2rem;
  }

  .spacer-bottom {
    height: 4rem;

    @include responsive(md) {
      font-size: 6rem;
    }
  }

  .greeting-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  .hello {
    transition: color var(--duration-default) var(--ease-in-out);

    font-size: 1.5rem;

    @include responsive(md) {
      font-size: 2.125rem;
    }
  }

  .name {
    font-weight: var(--font-weight-extra-bold);

    background: #006adc;
    background: linear-gradient(to right top, #006adc 20%, #a45cba 70%, #a45cba 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 4rem;
    line-height: calc(1em + 1rem);

    @include responsive(md) {
      font-size: 6rem;
      line-height: calc(1em + 1.5rem);
    }
  }

  .name::selection {
    -webkit-text-fill-color: var(--color-text-inverse);
  }
</style>
