---
import BaseLayout from '@/layouts/base-layout.astro'
import Header from '@/components/header/header.astro'
---

<BaseLayout>
  <div class='spacer'></div>
  <Header />
  <div class='spacer'></div>
  <main>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
    <div>Hi there ❤️</div>
  </main>
</BaseLayout>

<style lang='scss'>
  .spacer {
    height: 2rem;
  }
</style>
