---
import HeaderItem from './header-item.astro'
import Logo from './logo.astro'
import MenuButton from './menu-button'
import ThemeButton from './theme-button'
import RssIcon from '@/components/icons/rss-icon.astro'

interface Props {
  class?: string
}

const { class: className } = Astro.props as Props
---

<div class:list={['wrapper', className]}>
  <div class='container content-spacing content-sizing'>
    <a href='/' aria-label='Home link'>
      <Logo class='logo' />
    </a>
    <div class='items'>
      <div class='header-items'>
        <HeaderItem href='/posts/'>Posts</HeaderItem>
        <HeaderItem href='/categories/'>Categories</HeaderItem>
        <HeaderItem href='/about/'>About me ❤️</HeaderItem>
      </div>
      <div class='utils-items'>
        <ThemeButton client:load />
        <a target='_blank' rel='noopener noreferrer' href='/rss.xml' aria-label='RSS feed'>
          <RssIcon />
        </a>
      </div>
    </div>
    <MenuButton client:load class='menu-button' />
  </div>
</div>

<style lang='scss'>
  @use 'src/styles/mixins' as *;

  .wrapper {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--color-page-background);
    transition: background-color var(--duration-default) var(--ease-in-out);
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    @include responsive(md) {
      align-items: center;
      gap: 3rem;
    }
  }

  .logo {
    width: 8rem;
  }

  .items {
    justify-content: space-between;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1 1 100%;
    order: 1;

    @include responsive(md) {
      align-items: center;
      flex-direction: row;
      flex: 1 1 0;
    }
  }

  .header-items {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @include responsive(md) {
      align-items: center;
      flex-direction: row;
    }
  }

  .menu-button {
    display: inline-block;

    @include responsive(md) {
      display: none;
    }
  }

  :global(.mobile-header-menu-open) .items {
    display: flex;
  }

  .items {
    display: none;

    @include responsive(md) {
      display: flex;
    }
  }

  .utils-items {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    @include responsive(md) {
      gap: 1.25rem;
    }
  }
</style>
