.size {
  width: 1.5rem;
  height: 1.5rem;
}

.button {
  padding: 0;
  border: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

.placeHolder {
  display: inline-block;
}

.svg {
  fill: none;
}

.svg path {
  fill: var(--color-text-default);
  transition: fill var(--duration-default) var(--ease-in-out);
}
