---
import Logo from './logo.astro'
import HeaderItem from './header-item.astro'
import ThemeButton from './theme-button'
import MenuButton from './menu-button'
---

<div>
  <div class='page-sizing page-spacing container'>
    <a href='/' class='logo' aria-label='Go to home'>
      <Logo />
    </a>
    <div class='items'>
      <div class='header-items'>
        <HeaderItem href='/posts'>--posts</HeaderItem>
        <HeaderItem href='/categories'>--categories</HeaderItem>
        <HeaderItem href='/about'>--about-me-🌻</HeaderItem>
      </div>
      <div>
        <ThemeButton client:visible />
      </div>
    </div>
    <MenuButton client:visible class='menu-button' />
  </div>
</div>

<style lang='scss'>
  @use 'src/styles/tokens' as *;

  .container {
    display: flex;
    justify-content: space-between;
    gap: $spacing-6;
    flex-wrap: wrap;

    @media ($breakpoint-md) {
      gap: $spacing-12;
      align-items: center;
    }
  }

  .logo {
    color: var(--color-text-default);
    text-decoration: none;
    transition: color $duration-default $ease-in-out;
  }

  .items {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    flex-basis: 100%;
    order: 1;
    gap: $spacing-6;
    padding-left: $spacing-2;

    :global(.mobile-header-menu-open) & {
      display: flex;
    }

    @media ($breakpoint-md) {
      display: flex;
      flex-basis: 0;
      padding-left: auto;
      align-items: center;
      flex-direction: row;
    }
  }

  .header-items {
    display: flex;
    flex-direction: column;
    gap: $spacing-6;

    @media ($breakpoint-md) {
      align-items: center;
      flex-direction: row;
    }
  }

  .menu-button {
    display: inline-block;

    @media ($breakpoint-md) {
      display: none;
    }
  }
</style>
