---
export interface Props {
  href: string
}

const { href } = Astro.props as Props
---

<a href={href}>
  <slot />
</a>

<style lang="scss">
  a {
    text-decoration: none;
    color: var(--color-text-default);
    font-size: 1.05rem;
    transition-property: color;
    transition-duration: var(--duration-default);
    transition-timing-function: var(--ease-in-out);
  }
</style>
