---
interface Props {
  href: string
}

const { href } = Astro.props as Props
---

<a href={href}>
  <slot></slot>
</a>

<style lang='scss'>
  a {
    text-decoration: none;
    color: var(--color-text-default);
    font-size: 1.03rem;
    transition: color var(--duration-default) var(--ease-in-out);
  }
</style>
