---
export interface Props {
  category: string
}

const { category } = Astro.props as Props

const href = `/categories/${category}`
---

<a href={href}>
  <span class='background'></span>
  <span>{category}</span>
</a>

<style lang='scss'>
  a {
    position: relative;
    color: var(--color-accent-default);
    padding: 0.25rem 0.75rem;
    text-decoration: none;
    text-align: center;
    transition-property: color;
    transition-duration: var(--duration-default);
    transition-timing-function: var(--ease-in-out);
  }

  .background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-category-item-background);
    border-radius: var(--radii-md);
    transition: background-color var(--duration-default) var(--ease-in-out),
      transform var(--duration-default) var(--ease-in-out);

    a:hover & {
      transform: scale(1.1);
    }
  }
</style>
