@use 'src/styles/mixins' as *;

.main {
  width: 100%;

  @include responsive(lg) {
    position: sticky;
    top: 7rem;
    width: 14rem;
  }
}

.main > h2 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
}

.nav {
  display: flex;
  flex-direction: column;
}

.item {
  color: var(--color-toc-item-default);
  text-decoration: none;
  font-size: 0.9125rem;
  padding: 0.125rem 1rem;
  border-radius: var(--radii-sm);
  background-color: var(--color-toc-item-background-default);
  transition-property: color, background-color, font-weight;
  transition-duration: var(--duration-default);
  transition-timing-function: var(--ease-in-out);

  &:hover {
    color: var(--color-toc-item-secondary);
    background-color: var(--color-toc-item-background-secondary);
  }

  &:active {
    color: var(--color-toc-item-tertiary);
    background-color: var(--color-toc-item-background-tertiary);
  }
}

.selected {
  @include responsive(lg) {
    color: var(--color-accent-default);
    font-weight: var(--font-weight-semi);
    background-color: var(--color-toc-item-background-secondary);
  }

  &:hover {
    color: var(--color-accent-default);
  }

  &:active {
    color: var(--color-accent-default);
  }
}

.level3 {
  padding-left: 1.75rem;
}

.level4 {
  padding-left: 2.5rem;
}
