---
import HeadSEO, { type Props as HeadSEOProps } from '@/components/head/head-seo.astro'
import HeadCommon from '@/components/head/head-common.astro'
import '@/styles/styles.scss'

export interface Props {
  head?: HeadSEOProps
}

const { head } = Astro.props as Props
---

<html lang='en'>
  <head>
    <HeadCommon />
    <HeadSEO {...head} />
  </head>
  <body>
    <div id='__root'>
      <slot></slot>
    </div>
  </body>
</html>
