---
import BaseLayout, { type Props as BaseLayoutProps } from './base-layout.astro'

type Props = BaseLayoutProps

const { head } = Astro.props as Props
---

<BaseLayout head={head}>
  <main>
    <slot></slot>
  </main>
</BaseLayout>
