---
import HeadSEO, { type Props as HeadSEOProps } from '@/components/head/head-seo.astro'
import HeadCommon from '@/components/head/head-common.astro'
import Header from '@/components/header/header.astro'
import '@/styles/global.scss'

export interface Props {
  head?: HeadSEOProps
}

const { head } = Astro.props as Props
---

<html lang="en">
  <head>
    <HeadCommon />
    <HeadSEO {...head} />
  </head>
  <body id="__root">
    <Header />
    <slot />
  </body>
</html>
