---
import BaseLayout, { type Props as BaseLayoutProps } from './base-layout.astro'
import Header from '@/components/header/header.astro'

type Props = BaseLayoutProps

const { head } = Astro.props as Props
---

<BaseLayout head={head}>
  <Header class='header' />
  <main>
    <slot></slot>
  </main>
</BaseLayout>

<style lang='scss'>
  .header {
    box-shadow: var(--shadow-sm);
  }
</style>
