---
import TableOfContents from '@/components/post/table-of-contents'
import PostHeader from '@/components/post/post-header.astro'
import type { PostFrontMatter, PostHeaders } from '@/types/post'
import '@/styles/prose.scss'

interface Props extends PostFrontMatter {
  headers?: PostHeaders
}

const { headers, ...fronmatter } = Astro.props as Props
const isTocEnabled = headers !== undefined
---

<div class:list={['container', 'content-spacing', isTocEnabled ? ['content-sizing'] : 'container-without-toc']}>
  <PostHeader {...fronmatter} />
  <div class:list={['content-container', isTocEnabled && 'content-container-with-toc']}>
    {isTocEnabled && <TableOfContents client:load headers={headers} class="toc" />}
    <article class='post-content' id='post-content'>
      <slot></slot>
    </article>
  </div>
</div>

<style lang='scss'>
  @use 'src/styles/mixins' as *;

  .container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .container-without-toc {
    max-width: 53rem;
  }

  .content-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .content-container-with-toc {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;

    @include responsive(lg) {
      flex-direction: row-reverse;
      gap: 4rem;
    }
  }

  .toc {
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 1.75rem;
  }

  article {
    width: 100%;
    min-width: 0;
  }
</style>
