@font-face {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('/fonts/LexendDecaVariableFont.woff2') format('woff2');
}

body {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-normal);
}
